@charset "utf-8";
 
 html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 color: #000;
 background: #B0B0B0 ;
 }
 html, body, p, th, td, li, dd, dt {
 font: 0.90em Arial, 'Helvetica Neue', Helvetica, sans-serif;
 }
 h1, h2, h3, h4, h5, h6 {
 font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
 }
table.gridtable {
	font-family: monospace;
	font-size:13px;
	color:#000000;
	border-width: 2px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 2px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
/*  Define the background color for all the ODD background rows  */
table.gridtable tr:nth-child(odd){ 
		background: #b8d1f3;
	}
	/*  Define the background color for all the EVEN background rows  */
table.gridtable tr:nth-child(even){
		background: #dae5f4;
	}

table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	
}



 h1 { font-size: 2em; }
 h2 { font-size: 1.5em; }
 h3 { font-size: 1.2em ; }
 h4 { font-size: 1.0em; }
 h5 { font-size: 0.9em; }
 h6 { font-size: 0.5em; }
 a:link { color: #000; }
 a:visited { color: #009; }
 a:hover { color: #06f; }
 a:active { color: #0cf; }
 
.hidden { display: none; }
.unhidden { display: block; }